/* background colour */
main{
    background: var(--ligth-canary);
}

/* confirmation styling */
.confirmation{
    max-width: 50em;
    margin: 10px auto;
    padding: 20px 350px 20px 350px;
    line-height: 2;
}

/* overview styling */
#form{
    max-width: 50em;
    margin:10px auto 80px auto;
    padding: 3.5rem;
    background: var(--eerie-black);
}

/* styling title overview */
#titleOverview {
    color: var(--cultured);
    font-size: 1.7rem;
    margin-bottom: 10px;
    text-align: center;

}

/* styling sub titles */
h3{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0 10px 0;
    color: var(--canary);
}

/* form output styling */
.formOutput{
    color: var(--cultured);
    display: flex;
}

.formOutput > p{
    width: 40%;
    padding: 10px 10px 10px 40px;
 }

.formOutput > span{
    width: 80%;
    margin: 15px 0 20px 0;
    padding: 10px;
    border: 1px solid var(--cultured);
    box-sizing: border-box;
    display: block;
}

#productInfo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--eerie-black);
    max-width: 50em;
    margin:10px auto 80px auto;
    padding: 3.5rem;
}

#productInfo > h2{
    color: var(--canary);
    font-size: 1.7rem;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

#productInfo > img{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.productInfoList{
    list-style-type: none;
    display: flex;
    color: var(--cultured);
    width: 100%;
    line-height: 2;
    justify-content: center;
    margin-left: 70px;
    margin-right: 100px;

}

.productInfoList > li{
    padding-left: 17px;
}

.productInfoList > a{
    color: var(--ligth-canary);
}

#productInfo > p{
    color: var(--cultured);
    width: 100%;
    line-height: 2;
    justify-content: center;
    margin-left: 100px;
    margin-right: 90px;
}



