/* main styling */
main{
    background-image: linear-gradient(135deg, var(--cultured-2), var(--cultured), var(--ligth-canary));
    padding: 30px;
}

#form{
    max-width: 50em;
    margin:10px auto;
    padding: 3.5rem;
    background: var(--eerie-black);
}

/* title styling */
#customizeTitle{
    text-align: center;
    margin-bottom: 40px;
}

/* field styling */
.field{
    margin-top: 20px;
    border: none;
}

.field > legend{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    color: var(--canary);
}

/* forminput styling */
.forminput{
    color: var(--cultured);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* styling names input fields */
.formitemname{
    width: 25%;
    margin-bottom: 20px;
    padding: 18px 10px 20px 10px;
}

/* styling input fields */
.formdesign{
    color: var(--eerie-black);
    width: 65%;
    margin: 8px 0 20px 0;
    padding: 10px;
    border: 1px solid var(--cultured);
    box-sizing: border-box;
    display: block;
}

/* fixed height comment box */
#comment{
    height: 8rem;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

/* checkbox en radio styling */
.checkradio{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 61%;
}
.checkradio > label{
    padding-right: 50px;
}

/* styling buttons checkbox en radio */
.checkradio > label input {
    margin: 10px;
    transform: scale(1.5);
}
/* button styling */
.button{
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 15px;
    padding: 7px 15px 7px 15px;
    border: 1px solid;
    background: var(--canary);
    transition: all 0.3s;
    cursor: pointer;
}

.button:hover{
    background: var(--ligth-canary);
    border: 1px solid var(--cultured);
}


/* error messages */
.errormsg{
    color: #ef233c;
    font-size: 0.9rem;
    padding-bottom: 15px;
    margin-top: -12px;
    flex-basis: 100%;
    text-align: right;
}

#errorsubmit{
    margin-left: 10px;
}

/* colour input field when valid */
.validvalue{
    background-color: var(--aquamarine);
}