/* grid */
.gheader {
    grid-area: header;
}
.gmain {
    grid-area: main;
}
.gaside {
    grid-area: aside;
}
.gfooter {
    grid-area: footer;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

/* responsive banner */
.banner{
    width: 100%
}

/* style intro text and pictures */
.intro {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 30px 70px 30px;
    gap: 20px;
}
/* spacing text */
.intro > p{
    margin: -30px 0 30px 0;
    padding: 15px 380px 15px 380px;
}

.intro > a img{
    filter: drop-shadow(5px 10px 10px var(--gainsboro));
}
/* style about section */
.abouttkno{
    background:var(--davys-grey);
    color:var(--cultured);
    display: flex;
    align-content: space-around;
    padding: 60px 150px 60px 150px;
    gap: 15px;
}

.abouttkno > section img{
    filter: drop-shadow(5px 10px 10px var(--sonic-silver));
    width: 100%;
}
/*.aboutwho{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutwhy{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* style testimonials */
.testimonials{
    display: flex;
    flex-wrap: nowrap ;
    padding: 80px;
    width: 0;
    justify-content: stretch;
}

.review {
    display: flex;

}
.review img{

}

/* style footer */
.footer{
    display: block;
    padding: 0 100px 20px 100px;
    justify-content: center;
    background: var(--eerie-black);
    color: var(--cultured);
    font-size: 0.8rem;
}
.footer section{
    display: flex;
    justify-content: space-around;
    font-size: 1.0rem;
}
.footer ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.footer ul li{
    padding: 10px;
}