/* styling breadcrumb menu */
#breadcrumb{
    list-style-type: none;
    display: flex;
}
#breadcrumb li a{
    display: flex;
    text-decoration: none;
    color: var(--eerie-black);
    padding: 10px;
}
/* to fix
#breadcrumb a:after{

    content:'>';
    text-align: center;
    padding-left:15px;
} */

/* hover breadcrumb */
#breadcrumb li a:hover{
    color: var(--sonic-silver);
    text-decoration: underline;
}

/*current breadcrumb page*/
#breadcrumb li #currentp{
    color: var(--sonic-silver)
}



/* grid main
.gproductdescr {
    grid-area: productdescr;
}

.ghighlights {
    grid-area: highlights;
}
.gproductdetails {
    grid-area: productdetails;
}
.gmaterialcare {
    grid-area: materialcare;
}

.genvironment{
    grid-area: environment;
}
.gmaincontainer{
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-template-rows: auto;
    grid-template-areas:
}
*/
/* styling data list */
.datalist{
    display: flex;
    flex-wrap: wrap;
}

.datalist > dt {
    flex: 0 0 50%;

}

.databorder{
    min-width: 23px;
    text-align: center;
    border: solid;
    border-radius: 4px;
    padding: 3px;
}

.environment{
    background: var(--davys-grey);

}