/*grid*/
.gheader {
    grid-area: header;
}
.gmain {
    grid-area: main;
}
.gfooter {
    grid-area: footer;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}