/* flexbox products */
.products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 150px;
    background:var(--cultured) ;
}

/* styling category titles */
h3 {
    flex: 0 0 100%;
    padding-left: 50px;
    font-size: 2rem;
}

/* flexbox category */
.category{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

/* styling single product */
.singleproduct{
    padding: 10px 50px 20px 50px;
}

/* styling product text */
.singleproduct a{
    text-decoration: none;
    color: var(--eerie-black);
}
.singleproduct p{
    margin-top: -10px;
}

/* product hover */
.singleproduct a:hover{
    text-decoration: underline;
}

/* drop shadow images */
.singleproduct img{
    filter: drop-shadow(5px 10px 10px var(--gainsboro));
}

/* functional filter */
.singleproduct, input{
    display: none;
}
input#black:checked ~ .filter label#lblblack,
input#white:checked ~ .filter label#lblwhite,
input#blue:checked ~ .filter label#lblblue,
input#green:checked ~ .filter label#lblgreen {
    color: var(--canary);
    background: var(--eerie-black);
    border: 1px solid var(--eerie-black);
    border-radius: 4px;
}

input#black:checked ~ .category [data-filter ~="black"],
input#white:checked ~ .category [data-filter ~="white"],
input#blue:checked ~ .category [data-filter ~="blue"],
input#green:checked ~ .category [data-filter ~="green"]{
    display: initial;
}

/* styling filter */
.filter{
    padding-left: 60px;
    margin-top: -50px;

}
.filter h3{
    font-size: 1.1rem;
    margin-left: -30px;
    padding-bottom: 15px;

}
.filter h3:after{
    content:":";
}
label{
    padding: 10px;
    margin-left: 20px;

}
label:hover{
    text-decoration: underline;
}


