/*grid*/
.gheader {
    grid-area: header;
}
.gmain {
    grid-area: main;
}
.gfooter {
    grid-area: footer;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.tshirts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}
.tshirts > p{
    text-decoration: none;
    color: var(--eerie-black);
}

.hoodies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}
.sweatshirts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

