:root {
    /* CSS HEX */
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --sonic-silver: #6c757dff;
    --davys-grey: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
    --canary: #fcff99ff;
    --ligth-canary: #feffd6ff;
    --aquamarine: #60fbd2ff;
}

/* grid */
.gheader {
    grid-area: header;
}
.gmain {
    grid-area: main;
}
.gaside {
    grid-area: aside;
}
.gfooter {
    grid-area: footer;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

/* font */
body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: auto;
}

/* title font sizes */
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

/* Hide titles */
.hiddenTitle{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

/* style logo*/
#logo
{
    display: block;
    text-align:center;
    margin-top: 5px;
    margin-bottom: -15px;

}
/* style menu */
/*flex container */
.menu ul{
    list-style-type: none;
}
.menu-nav{
    display: flex;
    font-size: 1rem;
    padding-left: 0;
    margin-bottom: 0;
}
/* flex children */
.item-nav{
    background-color: var(--eerie-black);
    position: relative;
    width: 100%;
}
.menu-link{
    text-decoration: none;
    color: var(--cultured);
    display: block;
    text-align: center;
    padding: 12px;
}
.submenu{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding-left: 0;
}
/* hover menu */
.menu-link:hover{
    background-color: var(--canary);
    color: var(--eerie-black);
}

.item-nav:hover > .submenu{
    display: flex;
}
/* show current menu */
#active{
    background-color: var(--davys-grey);
}

/* hamburger menu bars */
.hamburger{
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--eerie-black);
}

/* style footer */
.footer{
    display: block;
    padding: 0 100px 20px 100px;
    justify-content: center;
    background: var(--eerie-black);
    color: var(--cultured);
    font-size: 0.8rem;
}
.footer section{
    display: flex;
    justify-content: space-around;
    font-size: 1.0rem;
}
.footer ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.footer ul li{
    padding: 10px;
}

/* hamburger menu */
@media only screen and (max-width: 750px){
    menu-nav{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px var(--gainsboro);
    }
    .nav-menu.active{
        left: 0;
    }
    #menu li{
        marign: 2.5rem 0;
    }
}